[submodule "menu/Menu_MIST"]
	path = menu/Menu_MIST
	url = https://github.com/teiram/Menu_MIST.git
[submodule "plus_too/plus_too"]
	path = plus_too/plus_too
	url = https://github.com/teiram/plus_too.git
[submodule "amstrad-cpc/Amstrad_MiST"]
	path = amstrad-cpc/Amstrad_MiST
	url = https://github.com/teiram/Amstrad_MiST.git
[submodule "archimedes/archimedes"]
	path = archimedes/archimedes
	url = https://github.com/teiram/archimedes.git
[submodule "nes/nes"]
	path = nes/nes
	url = https://github.com/teiram/nes.git
[submodule "c64/c64"]
	path = c64/c64
	url = https://github.com/teiram/c64.git
[submodule "wsoltys-mist-cores/mist-cores"]
	path = wsoltys-mist-cores/mist-cores
	url = https://github.com/teiram/mist-cores.git
[submodule "wsoltys-mist-cores/mist-modules"]
	path = wsoltys-mist-cores/mist-modules
	url = https://github.com/teiram/mist-modules.git
[submodule "atari2600/TCA2601"]
	path = atari2600/TCA2601
	url = https://github.com/teiram/TCA2601.git
[submodule "colecovision/colecovision_fpga"]
	path = colecovision/colecovision_fpga
	url = https://github.com/teiram/colecovision_fpga.git
[submodule "SMS/SMS-Nuked"]
	path = SMS/SMS-Nuked
	url = https://github.com/teiram/SMS-Nuked.git
[submodule "xt/PCXT_DeMiSTify"]
	path = xt/PCXT_DeMiSTify
	url = https://github.com/teiram/PCXT_DeMiSTify
[submodule "bbcmicro/beeb"]
	path = bbcmicro/beeb
	url = https://github.com/teiram/beeb.git
[submodule "xt/mist-modules"]
	path = xt/mist-modules
	url = https://github.com/teiram/mist-modules.git
[submodule "oric/Oric_Mist_48K"]
	path = oric/Oric_Mist_48K
	url = https://github.com/teiram/Oric_Mist_48K.git
[submodule "spectrum/ZX_Spectrum-128K_MIST"]
	path = spectrum/ZX_Spectrum-128K_MIST
	url = https://github.com/teiram/ZX_Spectrum-128K_MIST.git
[submodule "c16/c16"]
	path = c16/c16
	url = https://github.com/teiram/c16.git
[submodule "vic20/VIC20_MiST"]
	path = vic20/VIC20_MiST
	url = https://github.com/teiram/VIC20_MiST.git
[submodule "zx8x-bm/Sinclair_ZX8X"]
	path = zx81/Sinclair_ZX8X
	url = https://github.com/teiram/Sinclair_ZX8X.git
[submodule "pcw/mist-modules"]
	path = pcw/mist-modules
	url = https://github.com/teiram/mist-modules.git
[submodule "amstrad-cpc/mist-modules"]
	path = amstrad-cpc/mist-modules
	url = https://github.com/teiram/mist-modules.git
[submodule "pcw/Amstrad_PCW"]
	path = pcw/Amstrad_PCW
	url = https://github.com/teiram/Amstrad_PCW.git
[submodule "ql/ql"]
	path = ql/ql
	url = https://github.com/teiram/ql.git
[submodule "msx/MSX_MiST"]
	path = msx2/MSX_MiST
	url = https://github.com/teiram/MSX_MiST.git
[submodule "msx/mist-modules"]
	path = msx2/mist-modules
	url = https://github.com/teiram/mist-modules.git
[submodule "msx/msx1fpga"]
	path = msx1/msx1fpga
	url = https://github.com/teiram/msx1fpga.git
[submodule "pcw/T80"]
	path = pcw/T80
	url = https://github.com/teiram/T80.git
[submodule "intellivision/Intv_DeMiSTified"]
	path = intellivision/Intv_DeMiSTified
	url = https://github.com/teiram/Intv_DeMiSTified.git
[submodule "mist/MiSTery"]
	path = mist/MiSTery
	url = https://github.com/teiram/MiSTery.git
[submodule "atari800/Atari800XL"]
	path = atari800/Atari800XL
	url = https://github.com/teiram/Atari800XL.git
[submodule "minimig/minimig-mist"]
	path = minimig/minimig-mist
	url = https://github.com/teiram/minimig-mist.git
[submodule "x68000/X68000"]
	path = x68000/X68000
	url = https://github.com/teiram/X68000.git
[submodule "atari800/mist-modules"]
	path = atari800/mist-modules
	url = https://github.com/teiram/mist-modules.git
[submodule "samcoupe/SAMCoupe_MIST"]
	path = samcoupe/SAMCoupe_MIST
	url = https://github.com/teiram/SAMCoupe_MIST.git
[submodule "gehstock/Mist_FPGA"]
	path = gehstock/Mist_FPGA
	url = https://github.com/teiram/Mist_FPGA.git
[submodule "coco2/CoCo2-FPGA"]
	path = coco2/CoCo2-FPGA
	url = https://github.com/teiram/CoCo2-FPGA.git
[submodule "mo/MO_MiSTer"]
	path = mo/MO_MiSTer
	url = https://github.com/teiram/MO_MiSTer.git
[submodule "dvk/dvk-fpga"]
	path = dvk/dvk-fpga
	url = https://github.com/teiram/dvk-fpga.git
[submodule "dkv/mist-modules"]
	path = dvk/mist-modules
	url = https://github.com/teiram/mist-modules.git
[submodule "mtx512/MTX512-poseidon"]
	path = mtx512/MTX512-poseidon
	url = https://github.com/teiram/MTX512-poseidon.git
[submodule "common/mist-modules"]
	path = common/mist-modules
	url = https://github.com/teiram/mist-modules.git
[submodule "common/T80"]
	path = common/T80
	url = https://github.com/teiram/T80.git
[submodule "svi328/SVI328-SiDi"]
	path = svi328/SVI328-SiDi
	url = https://github.com/teiram/SVI328-SiDi.git
[submodule "adam/Adam_Coleco"]
	path = adam/Adam_Coleco
	url = https://github.com/teiram/Adam_Coleco
[submodule "einstein/Tatung-Einstein-TC01-poseidon"]
	path = einstein/Tatung-Einstein-TC01-poseidon
	url = https://github.com/teiram/Tatung-Einstein-TC01-poseidon
[submodule "common/jt49"]
	path = common/jt49
	url = https://github.com/teiram/jt49.git
[submodule "sordm5/SordM5_Poseidon"]
	path = sordm5/SordM5_Poseidon
	url = https://github.com/teiram/SordM5_Poseidon.git
[submodule "fm7/FM-7_BigMiST"]
	path = fm7/FM-7_BigMiST
	url = https://github.com/teiram/FM-7_BigMiST.git
[submodule "atom/AcornAtom_MiSTer"]
	path = atom/AcornAtom_MiSTer
	url = https://github.com/teiram/AcornAtom_MiSTer.git
[submodule "vectrex/Vectrex_poseidon-ep4cgx150"]
	path = vectrex/Vectrex_poseidon-ep4cgx150
	url = https://github.com/teiram/Vectrex_poseidon-ep4cgx150.git
[submodule "alice/AliceMC10_MiSTer"]
	path = alice/AliceMC10_MiSTer
	url = https://github.com/teiram/AliceMC10_MiSTer.git
[submodule "abc80/ABC80-FPGA"]
	path = abc80/ABC80-FPGA
	url = https://github.com/teiram/ABC80-FPGA.git
[submodule "coco3/CoCo3_MiSTer"]
	path = coco3/CoCo3_MiSTer
	url = https://github.com/teiram/CoCo3_MiSTer.git
[submodule "aquarius/Aquarius_MISTer"]
	path = aquarius/Aquarius_MISTer
	url = https://github.com/teiram/Aquarius_MISTer.git
[submodule "galaksija/GalaksijaPLUS_poseidon-ep4cgx150"]
	path = galaksija/GalaksijaPLUS_poseidon-ep4cgx150
	url = https://github.com/teiram/GalaksijaPLUS_poseidon-ep4cgx150
[submodule "sparc/ss"]
	path = sparc/ss
	url = https://github.com/teiram/ss.git
[submodule "zxnext/ZXN_MiST"]
	path = zxnext/ZXN_MiST
	url = https://gitlab.com/gyurco/ZXN_MiST.git
[submodule "zxnext/ZX_Spectrum_Next_FPGA"]
	path = zxnext/ZX_Spectrum_Next_FPGA
	url = https://gitlab.com/gyurco/ZX_Spectrum_Next_FPGA.git
[submodule "c64/cbm_sid"]
	path = c64/cbm_sid
	url = https://github.com/teiram/cbm_sid.git
[submodule "snes/SNES_FPGA"]
	path = snes/SNES_FPGA
	url = https://github.com/gyurco/SNES_FPGA.git
[submodule "megadrive/fpgagen"]
	path = megadrive/fpgagen
	url = https://github.com/mist-devel/fpgagen.git
[submodule "c128/C128_MiSTer"]
	path = c128/C128_MiSTer
	url = https://github.com/MiSTer-devel/C128_MiSTer.git
[submodule "x65/x65_Altera"]
	path = x65/x65_Altera
	url = https://github.com/teiram/x65_Altera
[submodule "apple2e/apple2efpga"]
	path = apple2e/apple2efpga
	url = https://github.com/teiram/apple2efpga
[submodule "pet2001/PET2001_MiSTer"]
	path = pet2001/PET2001_MiSTer
	url = https://github.com/MiSTer-devel/PET2001_MiSTer.git
[submodule "tsconf/TSConf_MiST"]
	path = tsconf/TSConf_MiST
	url = https://github.com/teiram/TSConf_MiST
[submodule "vector-06c/Vector-06C_poseidon-ep4cgx150"]
	path = vector-06c/Vector-06C_poseidon-ep4cgx150
	url = https://github.com/teiram/Vector-06C_poseidon-ep4cgx150
[submodule "zxuno/ZxUno_DeMiSTify"]
	path = zxuno/ZxUno_DeMiSTify
	url = https://github.com/DeMistified/ZxUno_DeMiSTify
[submodule "zxuno/ZXUno_Altera"]
	path = zxuno/ZXUno_Altera
	url = https://github.com/benitoss/ZXUno_Altera
[submodule "altair8800/Altair8800_Mister"]
	path = altair8800/Altair8800_Mister
	url = https://github.com/MiSTer-devel/Altair8800_Mister.git
[submodule "ts2068/ts2068"]
	path = ts2068/ts2068
	url = https://github.com/teiram/ts2068.git
[submodule "gyurco/Mist_FPGA"]
	path = gyurco/Mist_FPGA
	url = https://github.com/gyurco/Mist_FPGA/
[submodule "interact/Interact_MiSTer"]
	path = interact/Interact_MiSTer
	url = https://github.com/teiram/Interact_MiSTer.git
[submodule "scv/SuperCassetteVision_MiSTer"]
	path = scv/SuperCassetteVision_MiSTer
	url = https://github.com/MiSTer-devel/SuperCassetteVision_MiSTer.git
[submodule "lynx/lynx"]
	path = lynx/lynx
	url = https://github.com/teiram/lynx.git
[submodule "eg2000/eg2000"]
	path = eg2000/eg2000
	url = https://github.com/teiram/eg2000
[submodule "bk0011m/BK0011M"]
	path = bk0011m/BK0011M
	url = https://github.com/teiram/BK0011M
[submodule "tgfx16/TurboGrafx16_FPGA"]
	path = tgfx16/TurboGrafx16_FPGA
	url = https://github.com/teiram/TurboGrafx16_FPGA
[submodule "gameboy/gameboy"]
	path = gameboy/gameboy
	url = https://github.com/teiram/gameboy
[submodule "neogeo/NeoGeo_FPGA"]
	path = neogeo/NeoGeo_FPGA
	url = https://github.com/teiram/NeoGeo_FPGA
[submodule "atari-lynx/AtariLynx_MiSTer"]
	path = atari-lynx/AtariLynx_MiSTer
	url = https://github.com/teiram/AtariLynx_MiSTer
[submodule "pc88/PC88_MiSTer"]
	path = pc88/PC88_MiSTer
	url = https://github.com/teiram/PC88_MiSTer
[submodule "apple1/Apple-I_MiSTer"]
	path = apple1/Apple-I_MiSTer
	url = https://github.com/teiram/Apple-I_MiSTer.git
[submodule "pmd85/PMD85_MiSTer"]
	path = pmd85/PMD85_MiSTer
	url = https://github.com/teiram/PMD85_MiSTer
[submodule "sharpmz/SharpMZ_MiSTer"]
	path = sharpmz/SharpMZ_MiSTer
	url = https://github.com/teiram/SharpMZ_MiSTer
[submodule "trucco/Multicore"]
	path = trucco/Multicore
	url = https://gitlab.com/victor.trucco/Multicore.git
