[submodule "menu/Menu_MIST"]
	path = menu/Menu_MIST
	url = https://github.com/mist-devel/Menu_MIST.git
[submodule "plus_too/plus_too"]
	path = plus_too/plus_too
	url = https://github.com/mist-devel/plus_too.git
[submodule "amstrad-cpc/Amstrad_MiST"]
	path = amstrad-cpc/Amstrad_MiST
	url = https://github.com/sorgelig/Amstrad_MiST.git
[submodule "archimedes/archimedes"]
	path = archimedes/archimedes
	url = https://github.com/mist-devel/archimedes.git
[submodule "nes/nes"]
	path = nes/nes
	url = https://github.com/mist-devel/nes.git
[submodule "c64/c64"]
	path = c64/c64
	url = https://github.com/mist-devel/c64.git
[submodule "wsoltys-mist-cores/mist-cores"]
	path = wsoltys-mist-cores/mist-cores
	url = https://github.com/wsoltys/mist-cores.git
[submodule "wsoltys-mist-cores/mist-modules"]
	path = wsoltys-mist-cores/mist-modules
	url = https://github.com/mist-devel/mist-modules.git
[submodule "atari2600/TCA2601"]
	path = atari2600/TCA2601
	url = https://github.com/mist-devel/TCA2601.git
[submodule "colecovision/colecovision_fpga"]
	path = colecovision/colecovision_fpga
	url = https://github.com/mist-devel/colecovision_fpga.git
[submodule "SMS/SMS-Nuked"]
	path = SMS/SMS-Nuked
	url = https://github.com/gyurco/SMS-Nuked.git
[submodule "xt/PCXT_DeMiSTify"]
	path = xt/PCXT_DeMiSTify
	url = https://github.com/somhi/PCXT_DeMiSTify
[submodule "bbcmicro/beeb"]
	path = bbcmicro/beeb
	url = https://github.com/mist-devel/beeb.git
[submodule "xt/mist-modules"]
	path = xt/mist-modules
	url = https://github.com/mist-devel/mist-modules.git
[submodule "oric/Oric_Mist_48K"]
	path = oric/Oric_Mist_48K
	url = https://github.com/rampa069/Oric_Mist_48K.git
[submodule "spectrum/ZX_Spectrum-128K_MIST"]
	path = spectrum/ZX_Spectrum-128K_MIST
	url = https://github.com/sorgelig/ZX_Spectrum-128K_MIST.git
[submodule "c16/c16"]
	path = c16/c16
	url = https://github.com/mist-devel/c16.git
[submodule "vic20/VIC20_MiST"]
	path = vic20/VIC20_MiST
	url = https://github.com/mist-devel/VIC20_MiST.git
[submodule "zx8x-bm/Sinclair_ZX8X"]
	path = zx81/Sinclair_ZX8X
	url = https://github.com/BigMist/Sinclair_ZX8X.git
[submodule "pcw/mist-modules"]
	path = pcw/mist-modules
	url = https://github.com/mist-devel/mist-modules.git
[submodule "amstrad-cpc/mist-modules"]
	path = amstrad-cpc/mist-modules
	url = https://github.com/mist-devel/mist-modules.git
[submodule "pcw/Amstrad_PCW"]
	path = pcw/Amstrad_PCW
	url = https://github.com/BigMist/Amstrad_PCW.git
[submodule "ql/ql"]
	path = ql/ql
	url = https://github.com/mist-devel/ql.git
[submodule "msx/MSX_MiST"]
	path = msx2/MSX_MiST
	url = https://github.com/mist-devel/MSX_MiST.git
[submodule "msx/mist-modules"]
	path = msx2/mist-modules
	url = https://github.com/mist-devel/mist-modules.git
[submodule "msx/msx1fpga"]
	path = msx1/msx1fpga
	url = https://github.com/BigMist/msx1fpga.git
[submodule "pcw/T80"]
	path = pcw/T80
	url = https://github.com/mist-devel/T80.git
[submodule "intellivision/Intv_DeMiSTified"]
	path = intellivision/Intv_DeMiSTified
	url = https://github.com/robinsonb5/Intv_DeMiSTified.git
[submodule "mist/MiSTery"]
	path = mist/MiSTery
	url = https://github.com/gyurco/MiSTery.git
[submodule "atari800/Atari800XL"]
	path = atari800/Atari800XL
	url = https://github.com/gyurco/Atari800XL.git
[submodule "minimig/minimig-mist"]
	path = minimig/minimig-mist
	url = https://github.com/mist-devel/minimig-mist.git
[submodule "x68000/X68000"]
	path = x68000/X68000
	url = https://github.com/BigMist/X68000.git
[submodule "atari800/mist-modules"]
	path = atari800/mist-modules
	url = https://github.com/mist-devel/mist-modules.git
[submodule "samcoupe/SAMCoupe_MIST"]
	path = samcoupe/SAMCoupe_MIST
	url = https://github.com/sorgelig/SAMCoupe_MIST.git
[submodule "gehstock/Mist_FPGA"]
	path = gehstock/Mist_FPGA
	url = https://github.com/Gehstock/Mist_FPGA.git
[submodule "coco2/CoCo2-FPGA"]
	path = coco2/CoCo2-FPGA
	url = https://github.com/gyurco/CoCo2-FPGA.git
[submodule "mo/MO_MiSTer"]
	path = mo/MO_MiSTer
	url = https://github.com/Grabulosaure/MO_MiSTer.git
[submodule "dkv/dvk-fpga"]
	path = dkv/dvk-fpga
	url = https://github.com/xolod79/dvk-fpga.git
[submodule "dkv/mist-modules"]
	path = dkv/mist-modules
	url = https://github.com/mist-devel/mist-modules.git
